header {
  background-image: url(hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "oswald", sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: white;
}

p {
  font-family: "Cutive Mono", monospace;
  font-size: 25px;
  color: white;
}

a {
  font-size: 14px;
  color: #fff;
  font-family: "Cutive Mono";
}

a:hover {
  font-size: 14px;
  color: #9e7c66;
  font-family: "Cutive Mono";
}
img {
  max-width: 80px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
  margin-right: 265px;
  margin-left: 265px;
  margin-bottom: 80px;
}
.footer {
  color: #7a7a7a;
  font-size: 22px;
}

.footer:hover {
  color: black;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  gap: 5px;
}

h2 {
  font-family: "oswald", sans-serif;
  font-weight: 400;
  margin-bottom: 12px;
}

.background {
  background-color: #3c3d33;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 168px;
  margin-bottom: 98px;
}

#modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

/* Boîte blanche centrée */
#modal-boite {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 320px;
  max-width: 90%;
}

button {
  background-color: #9e7c66;
  color: #3c3d33;
  width: 170px;
  height: 30px;

  text-align: left;
  font-size: 20px;
  font-family: "Cutive Mono";

  border-style: none;

  text-align: center;
}

label {
  font-family: "oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #9e7c66;
}
input {
  font-family: "Cutive Mono", monospace;
  font-size: 24px;
}
.label {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  gap: 13px;
}

.div-checkbox {
  display: flex;
  flex-direction: row;
  max-width: 500px;
  gap: 20px;
}
.checkbox-text {
  font-size: 14px;
  color: #fff;
  font-family: "Cutive Mono";
  min-width: 450px;
}

.conditions-suivant {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

form {
}
